#navbar {
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0.56, #D5DCF2),
	    color-stop(0.38, #B7C5F0)
	);
	background-image: -moz-linear-gradient(
	    left top,
	    #D5DCF2 56%,
	    #B7C5F0 38%
	);

	color: #000;
	height: 75px;
	text-align: center;
	border: 1px solid black;
}

#tree {
	background-color: #FFF; 
	height: 600px;
	font-size: 20px;
	margin-right: 0;
}

#panel {
	background-color: #FFF; 
	height: 600px;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
}

#panel_content {
	width:450px;
	padding: 0;
	font-size: 18px;
	list-style-type: none;
}

#panel_content a {
	width: 100%;
	text-decoration: none;
	list-style-type: none;
	color: #000;
	border: 1px solid black;
}

#footer {
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0.56, #D5DCF2),
	    color-stop(0.38, #B7C5F0)
	);
	background-image: -moz-linear-gradient(
	    left top,
	    #D5DCF2 56%,
	    #B7C5F0 38%
	);

	color: #000;
	height: 20px;
	text-align: center;
	font-size: 14px;
	border: 1px solid black;
}

#goalPepTree {
	width:450px;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-size: 18px;
	list-style-type: none;
}

#goalPepTree ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#goalPepTree a {
	width: 100%;
	text-decoration: none;
	list-style-type: none;
	color: #000;
	border: 1px solid #000;
}

.highlight { 
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0.56, #D5DCF2),
	    color-stop(0.38, #B7C5F0)
	);
	background-image: -moz-linear-gradient(
	    left top,
	    #D5DCF2 56%,
	    #B7C5F0 38%
	);
}

.nohighlight { 
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0.56, #D5DCF2),
	    color-stop(0.67, #B7C5F0)
	);
	background-image: -moz-linear-gradient(
	    left top,
	    #D5DCF2 56%,
	    #B7C5F0 67%
	);
}

.handle { 
	background: transparent url( ../images/tree-handle.png ) no-repeat left top; 
	display: block; 	
	float: left;
	width: 10px; 
	height: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.closed { background-position: left top; }
.opened { background-position: left -10px; }

.color1 { background-color: #FFBABA; }
.color2 { background-color: #BAFFBA; }
.color3 { background-color: #BABAFF; }


