html, body {
	height: 100%;
	width: 100%;
	padding: 0px; 
	margin: 0px;
}

#navbar {
	height: 60px;
	line-height: 60px;
	background-color: #FAFFFA;
	color: #000;
	font-size: 25px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border: 1px dashed black;
}

#footer {
	background-color: #FAFFFA;
	color: #000;
	height: 20px;
	text-align: center;
	font-size: 14px;
}


#node_graph {
	text-align: center;
	vertical-align: middle;
}


tr, td {
	width: 33.333%;	
}

.node {
	height: 72px;
}

.color1a {
	background-color: #BCB;
}

.color1b {
	background-color: #BCB;
}

.striped {

}

.score {
	height: 72px;
	background-color: #DED;
	font: 28px bold;
	line-height: 72px;
}

.color2a {
	background-color: #B9DAF0;
}

.color2b {
	background-color: #CADFED;
}

.color3a {
	background-color: #EDE4CA;
}

.color3b {
	background-color: #F5EDD7;
}

.nohighlight { 
	background-color: #B7C5F0;
}

.highlight { 
	background-color: #D5DCF2;
}

.select { 
	background-color: #EEE; 
}

a:link {color: #000000; text-decoration: none; }
a:active {color: #000000; text-decoration: none; }
a:visited {color: #000000; text-decoration: none; }
a:hover {color: #000000; text-decoration: none; }

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


