<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>GoalPep Prototype Tree</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
	<script src="../static/javascript/prototype_tree.js" type="text/javascript"></script>

	<!--	<link rel="stylesheet" type="text/css" media="all" href="../static/stylesheets/960/reset.css" /> -->
	<link rel="stylesheet" type="text/css" media="all" href="../static/stylesheets/prototype_tree.css" />	
	<link rel="stylesheet" type="text/css" media="all" href="../static/stylesheets/960/text.css" /> 
	<link rel="stylesheet" type="text/css" media="all" href="../static/stylesheets/960/grid.css" />	

</head>

<body>
	<div class="container_24">
		<div class="grid_24" id="navbar"><font face="optima">GoalPep Tree Prototype</font></div>
		
		<div id="node_graph" class="grid_16 unselectable">
			<div class="clickable grid_8"><a href="#" />
				<table class="node grid_3 color1a push_8">
				<tr>
				  <td>Health</td>
				</tr>
				<tr>
				  <td>VR: 2</td>
				</tr>
				<tr>
				 <td>
					<img src="../static/images/task-x.png" />
					<img src="../static/images/task-x.png" />
					<img src="../static/images/task-x.png" />
				</td>
				</tr>
				</table>

				<table class="node grid_3 color1a push_8">
				<tr>
				  <td>Milestones</td>
				</tr>
				<tr>
				  <td>Completed: 15</td>
				</tr>
				<tr>
				 <td>Remaining: 35</td>
				</tr>
				</table>
				<table class="score grid_2 color1b push_8"><tr><td>232</td></tr></table>
			</div>
			<div class="clear"></div>


			<div class="clickable grid_8 push_0"><a href="#" />
				<table class="node grid_3 color2a push_0">
				<tr>
				  <td>Diet</td>
				</tr>
				<tr>
				  <td>VR: 2</td>
				</tr>
				<tr>
				 <td>
					<img src="../static/images/task-x.png" />
					<img src="../static/images/task-x.png" />
					<img src="../static/images/task-x.png" />
				</td>
				</tr>
				</table>

				<table class="node grid_3 color2a push_0">
				<tr>
				  <td>Milestones</td>
				</tr>
				<tr>
				  <td>Completed: 25</td>
				</tr>
				<tr>
				 <td>Remaining: 35</td>
				</tr>
				</table>
				<table class="score grid_2 color2b push_0"><tr><td>155</td></tr></table>
			</div>
			
			<div class="clickable grid_8 push_0"><a href="#" />
				<table class="node grid_3 color3a push_0">
				<tr>
				  <td>Exercise</td>
				</tr>
				<tr>
				  <td>VR: 2</td>
				</tr>
				<tr>
				 <td>
					<img src="../static/images/task-x.png" />
					<img src="../static/images/task-x.png" />
					<img src="../static/images/task-x.png" />
				</td>
				</tr>
				</table>

				<table class="node grid_3 color3a push_0">
				<tr>
				  <td>Milestones</td>
				</tr>
				<tr>
				  <td>Completed: 10</td>
				</tr>
				<tr>
				 <td>Remaining: 35</td>
				</tr>
				</table>
				<table class="score grid_2 color3b push_0"><tr><td>266</td></tr></table>
			</div>

			<div class="clickable grid_8 push_0"><a href="#" />
				<table class="node grid_3 color2a push_0">
				<tr>
				  <td>Counseling</td>
				</tr>
				<tr>
				  <td>VR: 2</td>
				</tr>
				<tr>
				 <td>
					<img src="../static/images/task-x.png" />
					<img src="../static/images/task-x.png" />
					<img src="../static/images/task-x.png" />
				</td>
				</tr>
				</table>

				<table class="node grid_3 color2a push_0">
				<tr>
				  <td>Milestones</td>
				</tr>
				<tr>
				  <td>Completed: 25</td>
				</tr>
				<tr>
				 <td>Remaining: 35</td>
				</tr>
				</table>
				<table class="score grid_2 color2b push_0"><tr><td>155</td></tr></table>
			</div>
			
			<div class="clear"></div>						

		</div>
				
		<div class="grid_24">  
			<div id="footer">GoalPep Industries Inc.</div>
	    </div>

		<div class="clear"></div>
	</div>
	
</body>
</html>
