<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>GoalPep Prototype Tree</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
	<script src="../static/javascript/prototype_tree.js" type="text/javascript"></script>

	<!--	<link rel="stylesheet" type="text/css" media="all" href="../static/stylesheets/960/reset.css" /> -->
	<link rel="stylesheet" type="text/css" media="all" href="../static/stylesheets/960/text.css" /> 
	<link rel="stylesheet" type="text/css" media="all" href="../static/stylesheets/960/960.css" />	
	<link rel="stylesheet" type="text/css" media="all" href="../static/stylesheets/prototype_tree.css" />	
</head>

<body>
	<div class="container_12">
		<div class="grid_12">
			<div id="navbar"><h1>GoalPep Tree Prototype</h1></div>
		</div>

		<div class="grid_6">
			<div id="content">
	      <ul id="goalPepTree">
	        <li><span><a href="#">Health</a></span>
	          <ul>
	            <li><span><a href="#">Exercise</a></span>
	              <ul>
	                <li><a href="#">Working Out</a></li>
	                <li><a href="#">Playing Tennis</a></li>
	              </ul>
	            </li>
	            <li><span><a href="#">Diet</a></span>
	              <ul>
	                <li><a href="#">Counting Calories</a></li>
	                <li><a href="#">Watching Carbs</a></li>
	              </ul>
	            </li>
	            <li><span><a href="#">Cooking</a></span>
	              <ul>
	                <li><a href="#">Learning Recipes</a></li>
	                <li><a href="#">Watching Cooking Shows</a></li>
	              </ul>
	            </li>
	          </ul>
	        </li>
	        <li><span><a href="#">Wealth</a></span>
	          <ul>
	            <li><a href="#">Career</a></li>
	            <li><a href="#">Investments</a></li>
	          </ul>
	        </li>
	        <li><span><a href="#">Relationships</a></span>
	          <ul>
	            <li><a href="#">Marriage</a></li>
	            <li><a href="#">Kids</a></li>

	          </ul>
	        </li>
	      </ul>


			</div>
		</div>

		<div class="grid_6">
			<div id="panel">
				<div id="panel_content">
					<a href="#">User Panel Content</a>
				</div>
			</div>
		</div>
				
		<div class="grid_12">  
			<div id="footer"><p>GoalPep Industries Inc.</p></div>
	    </div>

		<div class="clear"></div>
	</div>
	
</body>
</html>
